/* reset css */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lora", serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  color: #2c2a29;
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* utilities class */
.text--center {
  text-align: center;
}

.font-lato {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

/* section about */
.section__about {
  padding-block: 80px;
}

.section__about .section__title {
  font-size: 40px;
  line-height: 1.35;
  margin-bottom: 49px;
}

.section__about .section__content {
  max-width: 810px;
  margin-inline: auto;
}

.section__about .gallery {
  padding-inline: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 51px;
}

.section__about .gallery__item {
  border-radius: 16px;
  overflow: hidden;
}

.section__about .section__content .text {
  line-height: 1.32;
}

/* section info */
.section__info {
  color: #1f1f1f;
  padding-bottom: 80px;
}

.section__info .section__content {
  padding-inline: 32px;
}

.section__info .info__item {
  display: flex;
  gap: 8px;
}

.section__info .info__item + .info__item {
  margin-top: 8px;
}

.section__info .info__content,
.section__info .info__image {
  border-radius: 24px;
  overflow: hidden;
}

.section__info .info__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__info .info__content {
  padding: 46px 49px;
  background-color: #f4f0ea;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section__info .info__title {
  font-size: 64px;
  line-height: 1.16;
  margin-bottom: 24px;
}

.section__info .info__list li + li {
  margin-top: 24px;
}

.section__info .info__headline {
  font-size: 20px;
  margin-bottom: 8px;
}

.section__info .info__text {
  font-size: 14px;
  line-height: 1.572;
}

.section__info .info__item:nth-child(even) .info__text {
  line-height: 1.52;
}

/* Not Mobile */
@media only screen and (min-width: 769px) {
  .section__info .info__item:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .section__info .info__content,
  .section__info .info__image {
    width: 50%;
  }

  .section__info .info__item:nth-child(even) .info__content {
    padding-block: 67px;
  }

  .section__info .info__item:nth-child(even) .info__title {
    margin-bottom: 40px;
  }
}

/* Tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* section about */
  .section__about .section__title {
    font-size: 36px;
    margin-bottom: 36px;
  }

  .section__about .gallery {
    gap: 16px;
    margin-bottom: 36px;
  }

  .section__about .section__content .text {
    font-size: 16px;
    padding-inline: 16px;
  }

  /* section info */
  .section__info .info__content {
    padding: 40px 32px;
  }

  .section__info .info__title {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .section__info .info__list li + li {
    margin-top: 20px;
  }

  .section__info .info__headline {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .section__info .info__text {
    font-size: 16px;
    line-height: 1.54;
  }

  .section__info .info__item:nth-child(even) .info__text {
    line-height: 1.52;
  }
}

/* Mobile */
@media only screen and (max-width: 768px) {
  /* section about */
  .section__about {
    padding-block: 40px;
  }

  .section__about .section__title {
    color: #1f1f1f;
    font-size: 32px;
    margin-bottom: 27px;
  }

  .section__about .gallery {
    padding-inline: 8px;
    margin-bottom: 27px;
    gap: 4px;
  }

  .section__about .section__content .text {
    font-size: 14px;
    line-height: 1.54;
    padding-inline: 11px;
  }

  /* section info */
  .section__info {
    padding-bottom: 40px;
  }

  .section__info .info__item {
    flex-direction: column;
  }

  .section__info .info__content,
  .section__info .info__image {
    border-radius: 16px;
  }

  .section__info .section__content {
    padding-inline: 8px;
  }

  .section__info .info__list li + li {
    margin-top: 16px;
  }

  .section__info .info__item:nth-child(odd) .info__content {
    padding-block: 34px 42px;
  }

  .section__info .info__item:nth-child(even) .info__title {
    font-family: "Lato", sans-serif;
  }

  .section__info .info__item:nth-child(even) .info__text {
    line-height: 1.54;
  }

  .section__info .info__content {
    padding: 20px 18px;
    justify-content: center;
  }

  .section__info .info__title {
    font-size: 32px;
    line-height: 1.313;
    margin-bottom: 16px;
  }

  .section__info .info__headline {
    font-size: 18px;
    line-height: 1.7;
  }
}
