/* reset css */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-optical-sizing: auto;
  font-family: "Lora", serif;
  font-style: normal;
  color: #2C2A29;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* utilities class */
.text--center {
  text-align: center;
}

/* section about */
.section__about {
  padding-block: 80px;
}

.section__about .section__title {
  font-size: 40px;
  line-height: 1.35;
}